.background{ 
    background-image: url(index.png);
    background-color: rgb(107, 80, 45);
    background-repeat: repeat;

}
.reflect{
    background-color: rgb(213, 207, 219);
}
.me{
    background-color: black;
}
.size{
    height: 200px;
}